<h1>form</h1>
<%= form_tag('/index',method: :post) do %>
  <h3>お問い合わせ</h3>
  <input placeholder="名前" type="text" name="name">
  <input placeholder="メールアドレス" type="text" name="email">
  <input type="submit" value="送信する">
<% end %>